<h2>Question {{questionNumber}}/{{questionsCount}}</h2>

{{#liquid-unless isAnswerCorrect}}
  <h3>{{question.text}}</h3>
{{/liquid-unless}}

{{answer-display
  class="answer-display"
  currentAnswer=currentAnswer
  correctAnswer=question.answer
  highlightedLetter=question.selectLetter
  isAnswerCorrect=isAnswerCorrect
}}

{{#liquid-unless isAnswerCorrect}}
  {{answer-input
    correctAnswer=question.answer
    onAnswerChanged=(action (mut currentAnswer))
  }}
{{else}}
  <button {{action (perform completeQuestion)}}>
    {{if nextQuestion "Next" "Finish"}}
  </button>
{{/liquid-unless}}
