{{#liquid-bind question use="toLeft" as |currentQuestion|}}
  <h2>Question {{questionNumber}}/{{questionsCount}}</h2>

  <h3>{{currentQuestion.text}}</h3>

  {{#liquid-if hasCorrectAnswer}}
    {{#if nextQuestion}}
      <button {{action (route-action "goToNextQuestion")}}>
        Next
      </button>
    {{else}}
      <button {{action (route-action "goToAnagram")}}>
        Finish
      </button>
    {{/if}}
  {{else}}
    {{answer-input
      correctAnswer=currentQuestion.answer
      onAnswerUpdated=(action (mut hasCorrectAnswer))
    }}
  {{/liquid-if}}
{{/liquid-bind}}
